<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- 核心配置文件 -->
<!-- 元素节点有顺序 -->
<configuration>
    <!-- 引入外部配置文件 -->
    <!-- resource/url 属性中指定的配置文件优先级 > properties 元素中指定的属性 -->
    <properties resource="db.properties">
        <property name="username" value="root"/>
        <property name="password" value="root"/>
    </properties>

    <!-- 类型别名 -->
    <typeAliases>
        <!-- 指定包名，没有注解时默认使用类名的小写形式，可通过注解指定别名 -->
        <package name="com.spring.pojo"/>
    </typeAliases>

<!--    <environments default="development">-->
<!--        <environment id="development">-->
<!--            <transactionManager type="JDBC"/>-->
<!--            <dataSource type="POOLED">-->
<!--                <property name="driver" value="${driver}"/>-->
<!--                <property name="url" value="${url}"/>-->
<!--                <property name="username" value="${username}"/>-->
<!--                <property name="password" value="${password}"/>-->
<!--            </dataSource>-->
<!--        </environment>-->
<!--    </environments>-->

    <!-- 每一个 Mapper.xml 都需要在 Mybatis 核心配置文件中注册 -->
<!--    <mappers>-->
<!--        <package name="com.spring.mapper"/>-->
<!--    </mappers>-->
</configuration>
