<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 绑定一个对应的 Dao/Mapper 接口 -->
<mapper namespace="com.spring.mapper.AdminMapper">
    <select id="getList" resultType="Admin">
        select * from admin
    </select>

    <insert id="insert" parameterType="Admin">
        insert into admin (id, name, pwd) values (#{id}, #{name}, #{pwd})
    </insert>

    <delete id="delete" parameterType="int">
        # 故意写错以测试事务
        deletes from admin where id = #{id}
    </delete>
</mapper>
